*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(120deg, rgb(76, 181, 241), rgb(140, 228, 255));
  min-height: 100vh;
  max-width: 100%;
}

h1{
  text-align: center;
}

.form{
  width: 100%;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

form input, form button{
  padding: 10px;
  border: 1px solid gray;
  outline: none;
  background-color: white;
}

.form-control{
  display: flex;
}

form input{
  width: 100%;
}

@media (max-width: 770px) {
  form input {
    width: 100%;
  }

  .select{
    margin-top: 10px;
  }

  select{
    width: 100%;
  }

  form{
    flex-direction: column;
  }

  .todo{
    width: 65%;
  }

}


select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  width: 184px;
}

.select{
  position: relative;
}

.select::before{
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  background: #ff0000;
  color: #ffffff;
  pointer-events: none;
  line-height: 35px;
}


form select{
  margin-left: 5px;
  padding: 10px;
}

.todo-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.todo{
  display: flex;
}

.todo-item{
  list-style-type: none;
  background: #ffffff;
  padding: 10px;
  width: 350px;
}

.completed{
  text-decoration: line-through;
  color: #cccccc;
}

.todo .complete-btn{
  background: #003cff;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 10px;
}

.todo .trash-btn{
  background: #ff0000;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 10px;
}

